.footer__link-list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 19px;
}

/* Landscape phones and smaller */
@media (max-width: 424px) {
  .footer__link-list {
    flex-direction: column;
    gap: 32px;
  }
}
