:root {
  --color__black: #2A2C2F;
  --color__white: #fff;
  --color__gray: #aaa;
}

.page {
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  font-family: 'Inter', Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  color: var(--color__white);
}

/*HEADER ==================*/

.header {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.header__logo {
  background: url("../../images/header-logo.svg") no-repeat;
  background-size: cover;
  width: 176px;
  height: 52px;
}

.header__lang {
  display: flex;
  gap: 18px;
}

.header__lang-link {
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-decoration: none;
  color: var(--color__white);
}

.header__lang-link_active {
  text-decoration: underline;
}

/*=================== HEADER*/

/*LEAD =========================*/

.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 984px;
  margin: 0 auto;
}

.lead__title {
  max-width: 720px;
  margin: 0;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  text-align: center;
}

.lead__subtitle {
  max-width: 640px;
  margin: 0;
  padding: 32px 0 64px;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.lead__image {
  width: 100%;
  object-fit: cover;
}

.lead__caption {
  margin: 0;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding-top: 8px;
  align-self: start;
}

/*======================== LEAD*/

/*INTRO =======================*/

.intro {
  max-width: 984px;
  margin: 0 auto;
}

.intro__wrap {
  max-width: 690px;
}

.intro__title {
  margin: 0;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
}

.intro__text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  padding: 40px 0 33px;
}

.intro__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.intro__item {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.intro__accent {
  font-weight: 700;
}
/*======================== INTRO*/

/*PHOTO-GRID ==========================*/
.photo-grid {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, max-content));
  gap: 16px;
}

.photo-grid__item {
  list-style: none;
  display: flex;
}

.photo-grid__img {
  max-width: 100%;
  object-fit: cover;
}
/*=========================== PHOTO-GRID*/

/*PLACES ===========================*/

.places {
  max-width: 984px;
  margin: 0 auto;
  display: grid;
  gap: 80px;
}

.places__place {
  display: grid;
  grid-template-columns: 1fr;
  gap: 48px;
}

.places__side {
  display: grid;
  grid-template-columns: minmax(min-content, 460px) 1fr;
  gap: 40px;
}

.places__title {
  margin: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
}

.places__website {
  align-self: end;
}

.places__url-heading {
  margin: 0;
  padding-bottom: 12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;
  color: var(--color__gray);
}

.places__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
  color: var(--color__white);
}

.places__image {
  max-width: 100%;
  object-fit: cover;
}

.places__description {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.places__description-paragraph {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 161%;
}

/*========================= PLACES*/

/*COVER =====================*/

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../../images/cover-trains.jpg") no-repeat;
  background-size: cover;
  min-height: 740px;
  color: var(--color__white);
  text-decoration: none;
  gap: 32px;
  z-index: 1;
}
.cover::after {
  content: '';
  position: absolute;
  background-color: var(--color__black);
  opacity: 0.3;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: .2s ease;
}

.cover:hover::after {
  opacity: 0.8;
  transition: .2s ease;
}

.cover__title {
  margin: 0;
  max-width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
}

.cover__subtitle {
  margin: 0;
  max-width: 360px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

/*========================== COVER*/

/*FOOTER =====================*/

.footer {
  display: flex;
  justify-content: space-between;
}

.footer__link-list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 19px;
}

.footer__link-item {
  list-style: none;
}

.footer__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: var(--color__white);
}

.footer__copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
}
/*============================ FOOTER*/





















/* Large desktops and laptops */
@media (min-width: 1280px) {
  .page {
    padding: 28px 0 24px;
  }
}

/* Portrait tablets and medium desktops */
@media (min-width: 1024px) and (max-width: 1279px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 1023px) {

}

/* Landscape phones and portrait tablets */
@media (min-width: 425px) and (max-width: 767px) {

}

/* Landscape phones and smaller */
@media (max-width: 424px) {

}
