:root {
  --color__black: #2a2c2f;
  --color__white: #fff;
  --color__gray: #aaa;
}

.page {
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 28px 0 24px;
  font-family: 'Inter', Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  color: var(--color__white);
}

/* Landscape phones and portrait tablets */
@media (min-width: 425px) and (max-width: 767px) {
  .page {
    padding: 16px 20px 24px;
  }
}

/* Landscape phones and smaller */
@media (max-width: 424px) {
  .page {
    padding: 16px 0 24px;
  }
}
