.photo-grid {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, max-content));
  gap: 16px;
}

/* Large desktops and laptops */
@media (min-width: 1280px) {
}

/* Portrait tablets and medium desktops */
@media (min-width: 1024px) and (max-width: 1279px) {
  .photo-grid {
    gap: 14px;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 1023px) {

}

/* Landscape phones and portrait tablets */
@media (min-width: 425px) and (max-width: 767px) {

}

/* Landscape phones and smaller */
@media (max-width: 424px) {
  .photo-grid {
    gap: 12px;
  }
}
