.places__title {
  margin: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
}

/* Large desktops and laptops */
@media (min-width: 1280px) {
}

/* Portrait tablets and medium desktops */
@media (min-width: 1024px) and (max-width: 1279px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 1023px) {
  .places__title {
    font-size: 42px;
    line-height: 46px;
  }
}

/* Landscape phones and portrait tablets */
@media (min-width: 425px) and (max-width: 767px) {

}

/* Landscape phones and smaller */
@media (max-width: 424px) {
  .places__title {
    font-size: 32px;
    line-height: 35px;
    padding: 0 16px;
  }
}
