.places__description-paragraph {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 161%;
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 1023px) {
  .places__description-paragraph {
    font-size: 16px;
  }
}

/* Landscape phones and smaller */
@media (max-width: 424px) {
  .places__description-paragraph {
    font-size: 16px;
    padding: 0 16px;
  }
}
