.lead__subtitle {
  max-width: 640px;
  margin: 0;
  padding: 32px 0 64px;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

/* Large desktops and laptops */
@media (min-width: 1280px) {
}

/* Portrait tablets and medium desktops */
@media (min-width: 1024px) and (max-width: 1279px) {
  .lead__subtitle {
    padding: 32px 0 56px;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 1023px) {
  .lead__subtitle {
    padding: 32px 0 56px;
  }
}

/* Landscape phones and portrait tablets */
@media (min-width: 425px) and (max-width: 767px) {

}

/* Landscape phones and smaller */
@media (max-width: 424px) {
  .lead__subtitle {
    max-width: 288px;
    padding: 16px 0 40px;
    font-size: 16px;
    line-height: 20px;
  }
}
